<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HZXNews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6C5D65A1E4431CB001ECD9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6C5D6731E4431CC001ECD9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6C5D67E1E4431CC001ECD9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
